body{
    background-color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    background-color: blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h3{
    background-color:beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}