body {
      font-family: 'Times New Roman', Times, serif;
      margin: 20px;
      line-height:1.5;
      font-size:large;
      background-color:antiquewhite;
}
nav {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

nav.flex {
        display: flex;
        justify-content: space-around;
        background: #eee;
        padding: 10px;
      }
      nav.flex a {
        color: black;
        text-decoration: none;
        padding: 8px 12px;
      }
      nav.flex a:hover { background: ghostwhite; }
      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px;
      }
      .flex-item {
        flex: 1 1 100px;
        background: lightcoral;
        padding: 20px;
        text-align: center;
      }
      footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background:powderblue;
        color: black;
        text-align: center;
        padding: 20px;
      }
      
.card{
    width: 75%;
    margin:100px;
    padding:5px;
    border:5px;
    background:black;
    color:cadetblue
}
p{
    color:cadetblue
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 450px));
}
.grid-header {
  grid-column: 1 / -1;   
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  background: #eee;
}

#core{
    background-color: aquamarine;
}
#chopped{
    background-color: thistle;
}
#chopped .grid-header{
    background-color:red
}
#rise{
    background-color: chocolate;
}
#rise .grid-header{
    background-color:yellow
}
.img-wrapper {
  position: relative;
  overflow: hidden;
  height:600px
}

.img-wrapper > img {
  display: block;
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover{
    font-size:1.5rem
}

.img-wrapper > img,
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.gray {
  filter: grayscale(1);
}
.img-wrapper > .content.slide-down {
  transform: translateY(-100%);
}
.img-wrapper:hover > .content.slide-down {
  transform: translateY(0);
}
